.base {
    display: flex;
    justify-content: center;
    justify-content: right;
    margin: auto;
    height: 500px;
    width: 270px;
    background: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    border:15px solid black;
    top: 20px;
    right: 15px;
    
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px; 
}

.time{
margin-bottom: 10px;
font-size: 25px;
}

.icon {
    display: flex;
    justify-content: space-between;
    
}